extends layout

block content
  .row.page-header
    .col-sm-8.col-xs-12
      h2 Starcups
      .row
        .col-sm-8.col-xs-10
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
      .row
        .col-sm-8.col-xs-10
          p.address 125 High Street, Reading, Marathalli
      .row
        .col-sm-8.col-xs-10
          .panel.panel-warning
            .panel-heading.panel-title Opening Hours
            .panel-body Monday-Friday
      .row
        .col-sm-8.col-xs-10
          .panel.panel-danger
            .panel-heading.panel-title(data-toggle='collapse' data-target='#items') Facilities
            .panel-body
              #items.panel-collapse.collapse.in
                .col-sm-4.col-xs-10
                  span.pull-left.label.label-warning
                    span.glyphicon.glyphicon-ok
                    | &nbsp;Hot Drinks
                    | &nbsp;
                .col-sm-4.col-xs-10
                  span.pull-left.label.label-success
                    span.glyphicon.glyphicon-ok
                    | &nbsp;Cold Drinks
                    | &nbsp;
                .col-sm-4.col-xs-10
                  span.pull-left.label.label-primary
                    span.glyphicon.glyphicon-ok
                    | &nbsp;Hot-n-Cold Drinks
                    | &nbsp;
      .row
        .col-sm-10.col-xs-12
          .panel.panel-primary
            .panel-heading.panel-title
              .row
                .col-sm-8.col-xs-7 Customer Reviews
                .col-sm-4.col-xs-5
                  a.btn-xs.btn-default.pull-right(href='/location/review/new') Add Review
            .panel-body
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              | &nbsp; Simon Holmes p  Simon Holmes p  Simon Holmes p  Simon Holmes p  Simon Holmes p  Simon Holmes p  Simon Holmes p  Simon Holmes p  Simon Holmes p  Simon Holmes p  Simon Holmes p
    .col-sm-4.col-xs-12
      .panel.panel-success
        .panel-heading.panel-title Location Map
        .panel-body
          img.img-responsive.img-rounded(src='https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318&markers=color:red%7Clabel:C%7C40.718217,-73.998284&key=AIzaSyD16q-912waNLsDs1dUYx_RuoU4G6P9Gj0')
